<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website name</title>
    <link rel="stylesheet" href="/dist/styles.css">
</head>

<body>
    <div id="app">

    </div>
    <input type="hidden" value="<%=URL %>" id="url"/>

</body>
<script src="/dist/timerBundle.js"> 

</script>

</html>